body {
    background-color: #fffaf5; /* putih hangat */
    color: #333;
}

/* Header */
header {
    background: linear-gradient(135deg, #8b0000, #d4af37);
    text-align: center;
    padding: 45px 20px;
    color: white;
}

header h1 {
    font-size: 40px;
    letter-spacing: 1px;
}

/* Navbar */
nav a {
    color: #8b0000;
    font-weight: 600;
}

nav a:hover {
    color: #d4af37;
}

/* Section Title */
section h2 {
    color: #8b0000;
}

/* Card */
.card {
    background: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

/* Services */
ul li {
    background-color: #f5e6c8; /* gold soft */
}

/* Button */
button {
    background: linear-gradient(135deg, #8b0000, #d4af37);
    color: white;
}

button:hover {
    background: linear-gradient(135deg, #6e0000, #b8962e);
}

/* Footer */
footer {
    background-color: #8b0000;
    color: #d4af37;
}
